<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619231715191-80s2dkvi63pc7p254ug7pmhqeu062t2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619231715191-80s2dkvi63pc7p254ug7pmhqeu062t2c</string>
	<key>API_KEY</key>
	<string>AIzaSyBQioDP1rI-_R2rmZ8df8NFhexIvSZlidA</string>
	<key>GCM_SENDER_ID</key>
	<string>619231715191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStudyProject</string>
	<key>PROJECT_ID</key>
	<string>study-project-c975e</string>
	<key>STORAGE_BUCKET</key>
	<string>study-project-c975e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619231715191:ios:4640200a7c271168434b72</string>
</dict>
</plist>